body{
	background: #f2f2f2;
	padding: 2em;
}

#container{
	max-width: 1024px;
	margin: 0 auto;
}

h1{
	color: #ccc;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.25em;
	font-weight: bold;
}

h2{
	color: #808080;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 2.25em;
	font-weight: bold;
	margin: .25em 0;
}

div.author{
	position: fixed;
	right: 1em;
	top: 0;
	background-color: rgba(0,0,0,0.25);
	font-family: monospace;
	padding: .25em 1em;
}

img.logo{
	float: right;
}

img.main{
	width: 100%;
}

.filter label{
	width: 15%;
	display: inline-block;
	cursor: move;
}

.filter label img{
	vertical-align: bottom;
}

.filter input{
	width: 65%;
}

.filter .value{
	width: 15%;
}

button{
	width: 95%;
	margin: .5em 0;
	padding: .5em 0;
}

.status{
	text-align: center;
}